/* .row > * {
    padding-right: calc(var(--bs-gutter-x) * 0) !important;
} */
.li-style{
    background-color:#F2F2F2;
    border-radius:48px;
    transition:ease-in-out 1ms;
}
.li-style .nav-link{
    color:black !important;
    font-weight:400 !important; 

}
.nav-link{
    color: white !important;
    font-weight:300 !important;
}